<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<style type="text/css">
	img { display: block; margin-left: auto; margin-right: auto; }
</style>

<title></title>
</head>

<body>
	#foreach($fileName in $fileNames)
		<img src="$fileName">
	#end
</body>
</html>