<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <style type="text/css">
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <title>$title</title>
</head>

<body>
<content>
    #foreach($fileName in $fileNames)
        <img src="$fileName">
    #end
</content>
<div style="text-align:center;font-size:40pt;margin-top:60px;margin-bottom:50px;">
    <a id="before" href="javascript:void(0)" style="text-decoration:none"><span style="margin-right:30px;">&#9664;&#9664;</span></a>
    <a id="next" href="javascript:void(0)" style="text-decoration:none"><span style="margin-left:30px;">&#9654;&#9654;</span></a>
</div>
<script>
    let page = getPageNumber();
    setHref("before", page - 1);
    setHref("next", page + 1);

    function setHref(id, page) {
        if (isValid(page) === false) {
            return false;
        }

        let element = document.getElementById(id);
        element.href = "../" + page + "/viewer.html";
        return true;
    }

    function getPageNumber() {
        let hrefs = location.href.split("/");
        return (hrefs[hrefs.length - 2]) * 1;
    }

    function isValid(page) {
        return (page > 0);
    }
</script>
</body>
</html>
